<div class="header-padding">
    <section>
        <div class="content flex-container center-all vertical">
            <div class="alert alert-danger" [ngClass]="{'hide-alert': alertMessage === undefined}" role="alert">
                {{alertMessage}}
            </div>
            <div class="login-container">
                <h3 class="">
                    Registration
                </h3>
                <form [formGroup]="profileForm" (ngSubmit)="onSubmit($event)">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input name="email" type="email" class="form-control" id="email" autocomplete="username" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
                    </div>
                    <div *ngIf="profileForm.get('email').hasError('required') && profileForm.get('email').touched">
                        Email is required.
                    </div>
                    <div *ngIf="profileForm.get('email').hasError('email') && profileForm.get('email').touched">
                        Invalid email address.
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input name="firstName" type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input name="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Date of Birth</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                placeholder="mm/dd/yyyy"
                                name="dp"
                                formControlName="dob"
                                ngbDatepicker
                                [minDate]="{year: 1930, month: 1, day: 1}"
                                #d="ngbDatepicker"
                            />
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"><i class="fa-solid fa-calendar-days"></i></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" type="password" class="form-control" autocomplete="new-password" id="password" placeholder="Password" formControlName="password">
                    </div>
                    <div *ngIf="profileForm.get('password').hasError('required') && profileForm.get('password').touched">
                        Password is required
                    </div>
                    <div class="form-group">
                        <label for="passwordCheck">Password</label>
                        <input name="passwordCheck" type="password" class="form-control" id="passwordCheck" placeholder="Password" formControlName="passwordCheck">
                    </div>
                    <div *ngIf="profileForm.errors?.['passwordMismatch'] && (profileForm.touched || profileForm.dirty)" class="cross-validation-error-message alert alert-danger">
                        Password must match!
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input name="phone" type="text" class="form-control" id="phone" placeholder="Phone Number" formControlName="phone">
                    </div>
                    <!-- <div class="form-group">
                        <label for="photo">Photo Url: </label>
                        <input name="photo" type="text" class="form-control" id="photo" placeholder="URL to Profile Photo" formControlName="photoUrl">
                    </div> -->
                    <div class="form-group">
                        <label for="formFile" class="form-label">Upload a photo</label>
                        <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)">
                    </div>
                    <div formGroupName="address">
                        <div class="form-group">
                            <label for="street">Street:</label>
                            <input class="form-control" type="text" id="street" formControlName="street">
                        </div>
                        
                        <div class="form-group">
                            <label for="city">City:</label>
                            <input class="form-control" type="text" id="city" formControlName="city">
                        </div>
                        <div class="form-group">
                            <label for="city">City:</label>
                            <select id="state" class="form-control" formControlName="state">
                                <option value="" disabled selected>Select a state</option>
                                <option *ngFor="let state of americanStates" [value]="state.abbreviation">{{ state.name }}</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="postalCode">Postal Code:</label>
                            <input class="form-control" type="text" id="postalCode" formControlName="zip">
                        </div>
                        
                      </div>
                    <div class="flex-container pt-3" style="gap: 20px">
                        <button type="submit" class="color-button">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>
