.login-background {
    background-color: var(--bg-light);
}
.login-container {
    background-color: white;
    padding: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
}
.hide-alert {
    display: none;
}