
.filter-button {
    text-decoration: none;
    border: none;
    color: var(--accent-1);
    // border-color: none;
    box-shadow: none;
    &:hover, &:focus {
        background-color: var(--accent-1);
        color: white;
        // border-color: none;
        box-shadow: none;
    }
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
    // border: none;
    box-shadow: none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    background-color: var(--accent-1);
    color: white;
    // border-color: none;
    box-shadow: none;
}

.expect-bg {
    background-color: var(--bg-light);
}
.g-25 {
    gap: 25px;
}