<div class="header-padding">
    <section class="p-0 flex-container vertical">
        <div style="position:relative; width:100%">
            <div class="header-background group"></div>
            <div class="w-100 flex-container center-all" style="position:fixed; top:0;">
                <div class="content">
                    <h2>Groups</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="expect-bg">
        <div class="content flex-container g-25 wrap" >
            <ng-container *ngFor="let group of displayGroups">
                <app-tile-three [group]="group"></app-tile-three>
            </ng-container>
        </div>
    </section>
    <app-footer></app-footer>
</div>