<div class="modal fade testingCss" #userRolesModal id="userRolesModal" tabindex="-1" role="dialog" aria-labelledby="userRolesModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form [formGroup]="rolesForm">
                <div class="modal-header">
                    <h3 class="modal-title" id="userRolesModal">Edit User Roles</h3>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="resetRoleForm()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="p-3">
                        <p>Search who you would like to add/remove roles to and type in the roles which you would like to edit.</p>
                        <div class="p-2">
                            <label for="users">Users:</label>
                            <ng-select formControlName="users" [multiple]="true" id="userSelected" name="users" [hideSelected]="true" appendTo="body"
                                [items]="userList" dropdownPosition="auto" placeholder="Select Users">
                                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                    <span class="ng-value-label">{{item.firstName + ' ' + item.lastName}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)">x</span>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                                      <span >{{ item.firstName + ' ' + item.lastName + ' ' + item.email }}</span>
                                </ng-template>
                            </ng-select>
                        </div>
                        
                        <div class="p-2">
                            <label for="roles">Roles:</label>
                            <ng-select formControlName="roles" [multiple]="true" id="roles" bindLabel="roles" name="roles" [hideSelected]="true" appendTo="body"
                                [items]="allRoles" dropdownPosition="auto" placeholder="Add/Remove Roles">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetRoleForm()"> Cancel</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!rolesForm.valid" (click)="onRoleSubmit()">Add</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!rolesForm.valid" (click)="onRoleSubmit(true)">Remove</button>
                </div>
            </form>
        </div>
    </div>
</div>