<div class="modal fade" #userRolesModal id="userRolesModal" tabindex="-1" role="dialog" aria-labelledby="userRolesModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form [formGroup]="rolesForm">
                <div class="modal-header">
                    <h3 class="modal-title" id="userRolesModal">Edit User Roles</h3>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="resetRoleForm()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="p-3">
                        <p>Search who you would like to add/remove roles to and type in the roles which you would like to edit.</p>
                        <input id="typeahead-basic" type="text" class="form-control w-100 my-3" placeholder="Name, Email, or UID" formControlName="user" [ngbTypeahead]="nameEmailUidSearch" [resultFormatter]="formatter" [inputFormatter]="formatter"/>
                        <div formArrayName="roles">
                            <label>Roles:</label>
                            <div *ngFor="let role of roles.controls; let i=index">
                                <input id="roles-{{ i }}" placeholder="Enter Role" class="form-control my-3" type="text" [formControlName]="i">
                            </div>
                            <button type="button" class="color-button" (click)="addRole()">Add role</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetRoleForm()"> Cancel</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!rolesForm.valid" (click)="onRoleSubmit()">Add</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!rolesForm.valid" (click)="onRoleSubmit(true)">Remove</button>
                </div>
            </form>
        </div>
    </div>
</div>