<div class="modal fade" #profilePhotoModal id="profilePhotoModal" tabindex="-1" role="dialog" aria-labelledby="profilePhotoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="profilePhotoModal">Upload a Photo</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Upload a photo!</label>
                    <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="upload()">Upload</button>
            </div>
        </div>
    </div>
</div>