.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    border-radius: 0.25rem;
    display: inline-block;
    width: 2rem;
  }
  .custom-day:hover, .custom-day.focused {
    background-color: #e6e6e6;
  }
  .bg-primary {
    border-radius: 1rem;
  }
  .custom-invalid {
    font-size: .875em;
    color: var(--bs-form-invalid-color);
  }