<div class="header-padding">
  @if (watchUrl) {
    <section>
      <div class="content">
        <h2 class="font black">Regeneration Service</h2>
        <div class="divider-right pb-5"></div>
        @if (watchUrl) {
          <iframe width="100%" height="615" [src]="watchUrl | safe:'resourceUrl'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        }
        <div class="info-container">
          <div>
            <h4>Schedule</h4>
            Regeneration Service will start live at 11:30 AM on Sundays. If you are away or otherwise cannot make service, we still invite you to come and worship with us!
          </div>
          <div class="mt-3">
            <h4>Past Sermons</h4>
            If you want to take a look sermons from the past then <a href="https://www.youtube.com/playlist?list=PLfbfI6bGIMk-1OloIxvqChtIO5sGz9BQQ">click here</a>.
          </div>
        </div>
      </div>
    </section>
  } @else {
    <section>
      <div class="spinner-border loading-spinner" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </section>
  }
</div>
