<div class="modal fade" #createGroupModal id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form [formGroup]="groupForm">
                <div class="modal-header">
                    <h3 class="modal-title" id="createGroupModal">Create New Group</h3>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="p-3">
                        <p>Fill out the fields to create a new group.</p>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input name="name" type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input name="location" type="text" class="form-control" id="location" placeholder="Location" formControlName="location">
                        </div>
                        <div class="form-group">
                            <label for="when">When</label>
                            <input name="when" type="text" class="form-control" id="when" placeholder="when" formControlName="when">
                        </div>
                        <!-- <div class="form-group">
                            <label for="photoUrl">Photo URL</label>
                            <input name="photoUrl" type="text" class="form-control" id="photoUrl" placeholder="Photo URL" formControlName="photoUrl">
                        </div> -->
                        <div class="form-group">
                            <label for="formFile" class="form-label">Upload a photo</label>
                            <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)">
                        </div>
                        <div class="form-group">
                            <label for="forWho">Who is the group for?</label>
                            <input name="forWho" type="text" class="form-control" id="forWho" placeholder="Adults, regen, etc" formControlName="forWho">
                        </div>
                        <div class="form-group">
                            <label for="shortDesc">Short Description (max: 100 characters)</label>
                            <input name="shortDesc" type="text" class="form-control" maxlength="175" id="shortDesc" placeholder="Short Description" formControlName="shortDesc">
                        </div>
                        <div class="form-group">
                            <label for="desc">Description</label>
                            <textarea name="desc" type="text" class="form-control" id="desc" placeholder="Description" formControlName="desc"></textarea>
                        </div>
                        <div formArrayName="owner" class="form-group">
                            <label>Owners:</label>
                            <div *ngFor="let role of owner.controls; let i=index" class="flex-container center-all">
                                <input id="owner-{{ i }}" type="text" class="form-control my-3" placeholder="Name, Email, or UID" [formControlName]="i" [ngbTypeahead]="nameEmailUidSearch" [resultFormatter]="userFormatter" [inputFormatter]="userFormatter"/>
                                <i class="fa-solid fa-x p-2" (click)="removeOwner(i)"></i>
                            </div>
                            <button type="button" class="color-button p-2" style="font-size:12px;letter-spacing: normal;" (click)="addOwner()">Add User</button>
                        </div>
                        <div formArrayName="visibility" class="form-group">
                            <label>Visibility:</label>
                            <div *ngFor="let role of visibility.controls; let i=index" class="flex-container center-all">
                                <input id="visiblity-{{ i }}" placeholder="Enter Role" class="form-control my-3" type="text" [formControlName]="i"><i class="fa-solid fa-x p-2" (click)="removeVis(i)"></i>
                            </div>
                            <button type="button" class="color-button p-2" style="font-size:12px;letter-spacing: normal;" (click)="addVisibility()">Add role</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()"> Cancel</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  (click)="_onSubmit()">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>