<a class="font black flex-container vertical" style="height:175px; width: 200px;border-radius: 10px;">
    <div class="font black tile-content">
        <a>
            <div style="height:100%;border-radius: 10px;" [style.background-color]="color">
                <img *ngIf="group.photoUrl && group.photoUrl !== ''" src="{{group.photoUrl}}" style="width:100%; height:100%" class="image-frame">
                <div *ngIf="!group.photoUrl" class="h-100 w-100 flex-container vertical center-all font white">
                    <h4>[{{group.name}}]</h4>
                    <h4>{{group.location}}</h4>
                </div>
            </div>
            <div class="hover flex-container vertical center-all">
                <div class="title">
                    {{group.name}}
                </div>
                <div class="txt-container">
                    {{group.shortDesc}}
                </div>
                <div class="color-button">
                    Edit
                </div>
            </div>
        </a>
    </div>
</a>
