<a class="flex-container vertical event" (click)="routeToEvent()">
    <!-- <h3 class="font white">{{event.startDate.toLocaleDateString('en-us', {month: 'short', day: 'numeric'})}}</h3> -->
    <div class="img d-flex align-items-center" [style.background-color]="color">
        <span class="date">
            {{event.startDate | date:'LLL'}}
            <span class="big">{{event.startDate | date:'dd'}}</span>
        </span>
        <img *ngIf="event.photoUrl && event.photoUrl !== ''" src="{{event.photoUrl}}" style="width:100%" class="image-frame">
        <div *ngIf="!event.photoUrl" class="h-100 w-100 flex-container center-all font white">
            <h4>[{{event.name}}]</h4>
        </div>
    </div>
    <div class="txt">
        <div class="title">
            {{event.name}}
        </div>
        <div class="location">
            <i class="fa-solid fa-location-dot font accent-1" style="font-size:14px"></i> {{event.location}}
        </div>
        <p class="mt-3">{{event.shortDesc}}</p>
    </div>
</a>
