
<app-header></app-header>
<div class="header-padding">
    <section class="login-background">
        <div class="content flex-container center-all vertical">
            <div class="alert alert-danger" [ngClass]="{'hide-alert': alertMessage === undefined}" role="alert">
                {{alertMessage}}
            </div>
            <div class="alert alert-success" [ngClass]="{'hide-alert': !isResetEmailSent}" role="alert">
                Reset Password email sent! Check your email for a password reset link.
            </div>
            <div class="login-container">
                <h3>
                    Forgotten Password
                </h3>
                <form (ngSubmit)="sendEmail()" #forgottenPasswordForm="ngForm" style="padding-top:20px">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Enter your email address: </label>
                        <input name="exampleInputEmail1" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email">
                    </div>
                    <div class="flex-container space-between pt-3" style="gap: 20px">
                        <button type="submit" [disabled]="isResetEmailSent" class="color-button">Reset Password</button>
                        <button type="button" class="color-button" (click)="route('login')">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>
