<div class="header-padding">
    <section class="p-0 flex-container vertical">
        <div style="position:relative; width:100%">
            <div class="header-background give"></div>
            <div class="w-100 flex-container center-all" style="position:fixed; top:0;">
                <div class="content">
                    <h1 class="font white">Give</h1>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="content giving">
            <h2 class="center-text font accent-1" style="font-size:42px!important">Why We Give</h2>
            <p class="center-text">
                <b>Giving to our Christian church is a profound expression of our faith and commitment.</b> It symbolizes our devotion to God and the values that guide our lives. It is an act of selflessness, a testament to our desire to support our community, and a way to carry out the teachings of Jesus, who emphasized the importance of love, compassion, and generosity.
            </p>
            <p class="center-text">
                <b>Our contributions help sustain the church,</b> enabling it to provide a place of worship, spiritual guidance, and support to those in need. It's not just a financial offering; it's a heartfelt dedication to the spiritual home that nurtures our souls and a recognition of the vital role it plays in our lives.
            </p>
            <p class="center-text">
                <b>Giving to our Christian church holds great significance</b>, as it underscores our collective commitment to spreading God's love, fostering fellowship, and strengthening our faith journey.
            </p>
        </div>
    </section>
    <section>
        <div class="content flex-container vertical center-all">
            <h3 class="center-text">Ways to Give</h3>
            <hr>
            <div class="flex-container center space-evenly gap-25 w-100 py-3 give-mobile">
                <div class="give-option-container flex-container align-center vertical gap-25">
                    <div class="small-header font black">Online Giving</div>
                    <i class="fa-regular fa-credit-card"></i>
                    <div>
                        <p>
                            To give Online, please <a href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=wWsk24ZWJSTZKsGd1RMKlg0BDvsSG3VIWQCPJNNxD8upkiY7JlDavDsozUE7KG0nFx2NSo8LdUKGuGuF396vbSjeqjmDmma7TT_UXaAVGvuXHubq5Z7ap5JVmPErc4ZeYHCKCZhESjGNQmZ5B-6dx86xyd2q3m-LD2vdcIIdpTE=&ver=3">Give Here</a>
                        </p>
                        
                        <ul>
                            <li><b>Secure</b> Your bank information is securely handled through encryption to safegaurd sensitive financial data</li>
                            <li>Accepts Credit/Debit/Savings accounts</li>
                        </ul>
                    </div>
                </div>
                <div class="give-option-container flex-container align-center vertical gap-25">
                    <div class="small-header font black">Via Check</div>
                    <i class="fa-solid fa-money-check"></i>
                    <div>
                        <p>To give via Check, please send your offering with the following details</p>
                        <ul>
                            <li>Fill out a personal check with the amount you wish to donate. Make the check payable to <b>CCCNJ</b></li>
                            <li>Send the check by mail to <div>CCCNJ  (Attn: FD B04) <br>
                                232 South Beverwyck Rd, <br>
                                Parsippany, NJ 07054</div></li>
                        </ul>
                    </div>
                </div>
                <div class="give-option-container flex-container align-center vertical gap-25">
                    <div class="small-header font black">Zelle</div>
                    <img src="https://firebasestorage.googleapis.com/v0/b/cccnjdb.appspot.com/o/content%2FZelle-logo.png?alt=media&token=fe4417ff-3b6a-4134-8df3-17254656ed57" style="width:auto;height:80px">
                    <div>
                        <p>To give via Zelle, please send your offering with the following details</p>
                        <ul>
                            <li><b>Recipient's Email </b> giving&#64;cccnj.org</li>
                            <li><b>Recipient's Name</b> CCCNJ</li>
                            <li><b>Message to Recipient</b> include your Name, Offering ID (or address), and fund(s).</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex-container center space-evenly gap-25 w-100 py-3 give-mobile">
                <div class="give-option-container flex-container align-center vertical gap-25">
                    <div class="small-header font black">Stock/Fund Donation</div>
                    <i class="fa-solid fa-arrow-trend-up" style="color: green"></i>
                    <div>
                        <p>To give via Stocks/Funds, please send your offering with the following details</p>
                        <ul>
                            <li><b>Fill Out</b> a <a href="https://en.cccnj.org/sites/default/files/giving/FundTransferForm.pdf">stock contributions form</a></li>
                            <li><b>Send the Form</b> to your financial advisor/broker to begin the process of transferring stocks</li>
                            <li><b>Notify the treasurer</b> that your donation has completed</li>
                            <li><b>Receive receipt</b> via mail in January</li>
                        </ul>
                    </div>
                </div>
                <div class="give-option-container flex-container align-center vertical gap-25">
                    <div class="small-header font black">Employer Matching</div>
                    <i class="fa-solid fa-briefcase"></i>
                    <div>
                        <p>Many companies promote charitable donations by providing employer matching to employees</p>
                        <ul>
                            <li><b>Ask</b> if your company allows donation matching and initiate the process</li>
                            <li><b>Verify</b> CCCNJ is registered as a eligible charity organization in your company</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>