<div class="header-padding">
    <section class="p-0 flex-container vertical">
        <div style="position:relative; width:100%">
            <div class="header-background"></div>
            <div class="w-100 flex-container center-all" style="position:fixed; top:0;">
                <div class="content">
                    <h2>Events</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="flex-container vertical p-0">
        <div class="content flex-container center-all">
            <div ngbDropdown class="d-inline-block p-3" [container]="'body'">
                <button type="button" class="btn btn-outline-primary filter-button" id="group-filter-dropdown" ngbDropdownToggle>
                    <h4 style="display:inline">Group</h4>
                </button>
                <div ngbDropdownMenu aria-labelledby="group-filter-dropdown">
                    <button ngbDropdownItem>Regeneration</button>
                    <button ngbDropdownItem>Taiwanese</button>
                    <button ngbDropdownItem>Mandarin</button>
                </div>
            </div>
            <div ngbDropdown class="d-inline-block p-3" [container]="'body'">
                <button type="button" class="btn btn-outline-primary filter-button" id="group-filter-dropdown" ngbDropdownToggle>
                    <h4 style="display:inline">Age</h4>
                </button>
                <div ngbDropdownMenu aria-labelledby="group-filter-dropdown">
                    <button ngbDropdownItem>Kids</button>
                    <button ngbDropdownItem>Youth</button>
                    <button ngbDropdownItem>Adult</button>
                </div>
            </div>
            <div ngbDropdown class="d-inline-block p-3" [container]="'body'">
                <button type="button" class="btn btn-outline-primary filter-button" id="group-filter-dropdown" ngbDropdownToggle>
                    <h4 style="display:inline">Date</h4>
                </button>
                <div ngbDropdownMenu aria-labelledby="group-filter-dropdown">
                    <button ngbDropdownItem>This Month</button>
                    <button ngbDropdownItem>This Week</button>
                </div>
            </div>
        </div>
    </section>
    <section class="expect-bg">
        <div class="content">
            events go in here
        </div>
    </section>
    <app-footer></app-footer>
</div>
