<app-header></app-header>
<div class="parallax">
  <section class="video-background">
    <div class="overlay video-preloader"></div>
    <div class="overlay content flex-container vertical center-all">
      <div class="flex-container center-all vertical welcome-container">
        <h2>
          Welcome
        </h2>
        <div class="visit-us">
          Come and worship with us
        </div>
        <a href="#" class="visit-button" (click)="route('visit', $event)">
          Visit
        </a>
      </div>
    </div>
    <div class="arrow-overlay flex-container center-all">
      <div class="circle bounce" (click)="arrowClick()">
        <span class="material-symbols-outlined">
          arrow_drop_down
        </span>
      </div>
    </div>
    <video class="overlay video" playsinline autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source type="video/mp4" src="assets/output.mp4">
    </video>
  </section>
  <section class="flex-container vertical section-1">
    <div class="content flex-container space-between">
      <div class="flex-container vertical slidein-container txt-container">
        <h2>
          About Us
        </h2>
        <div class="divider-right">
        </div>
        <div class="txt-body font white">
          We are a non-denominational, Bible-based church located in Parsippany, NJ. We conduct Sunday worship services in three languages: English, Mandarin, and Taiwanese. We run Sunday School classes for all ages, many youth and children programs, vocational bible study camps, missionary activities and many more so we can grow stronger in our faith. <br/>
          <br/>
          We invite you to explore our website and hope that you will come and visit us to worship side by side as a family, and feel the warmth and blessing of Jesus Christ. We are here for you with an open heart, please feel free to leave a comment in the “Contact Us” page if you have any questions. Thank you for visiting our church. All are welcome.
        </div>
      </div>
      <div class="slidein-container flex-container center-all">
        <img src="https://cn.cccnj.org/sites/default/files/mandarin/image/aboutus/worship.jpg" style="height:auto; width:100%" class="image-frame">
      </div>
    </div>
  </section>
  <section class="flex-container postcard-right">
    <div class="content flex-container space-between">
      <div class="slidein-container flex-container center-all image-container">
        <img src="assets/photo1.png" style="height:auto; width:100%" class="image-frame">
      </div>
      <div class="flex-container vertical slidein-container txt-container">
        <div class="small-header">
          Weekly Gathering
        </div>
        <h2 style="font-size:60px; margin-bottom:25px">
          Cell Groups
        </h2>
        <div class="divider-left"></div>
        <div class="txt-body font black">
          Our church values community and its importance in the church! If you are looking for a group of individuals to connect with then you have come to the right place! Our church has a plethora of different cell groups to choose from!
        </div>
        <div class="button-container">
          <a href="#" class="color-button">
            Find One
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="parallax__group">
    <div class="parallax-layer parallax-layer-back"></div>
    <div class="parallax-layer parallax-layer-base flex-container center-all vertical">
      <!-- <div class="content font white">Events</div> -->
      <div class="content flex-container vertical">
        <div class="flex-container vertical slidein-container txt-container">
          <div class="small-header">
            What's Happening
          </div>
          <h2 class="font white"> Events </h2>
          <div class="divider-right"></div>
        </div>
        <div  class="flex-container center-all event-container">
          <ng-container #eventContainer></ng-container>
          <!-- <div class="font black slidein-container-short" style="height:300px; width: 260px;background-color: white;">
            Event 1
          </div>
          <div class="font black slidein-container-short" style="height:300px; width: 260px;background-color: white;">
            Event 2
          </div>
          <div class="font black slidein-container-short" style="height:300px; width: 260px;background-color: white;">
            Event 3
          </div>
          <div class="font black slidein-container-short" style="height:300px; width: 260px;background-color: white;">
            Event 4
          </div> -->
        </div>
      </div>
      
    </div>
  </section>
  <section class="section-2 postcard-left">
    <div class="content flex-container space-between">
      <div class="flex-container vertical slidein-container txt-container">
        <div class="small-header">
          Next Steps
        </div>
        <h2 style="font-size:60px; margin-bottom:25px">
          Give back
        </h2>
        <div class="divider-right"></div>
        <div class="txt-body font black">
          Some text about serving here!
        </div>
        <div class="button-container">
          <a href="#" class="color-button">
            Give
          </a>
          <a href="#" class="color-button">
            Positions
          </a>
        </div>
      </div>
      <div class="slidein-container flex-container center-all image-container">
        <img src="assets/photo1.png" style="height:auto; width:100%" class="image-frame">
      </div>
    </div>
  </section>
  <section class="section-2">
    <div class="content flex-container space-between">
      <div class="slidein-container flex-container center-all">
        <img src="https://cn.cccnj.org/sites/default/files/mandarin/image/aboutus/worship.jpg" style="height:auto; width:100%" class="image-frame">
      </div>
      <div class="flex-container vertical slidein-container txt-container">
        <h2 class="font black" style="font-size: 60px;">
          Youth & Children
        </h2>
        <div class="divider-left">
        </div>
        <div class="txt-body font black">
          We have families here! (Means kids go here too)
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
