<div class="overlay header">
  <img class="header-image" src="https://cccnj.org/landing/images/logo_2020_1.png" />
</div>
<div class="overlay title" [@fade]="state" (@fade.done)="end($event)">
  {{titles[currentDescription]}}
</div>
<div class="overlay content">
  <div class="seperater">
    CHOOSE YOUR CONGREGRATION
  </div>
  <div>
    <button type="button" class="custom-button" (click)="cantoneseRoute()">台語堂</button>
    <button type="button" class="custom-button" (click)="englishRoute()">English Ministry</button>
    <button type="button" class="custom-button" (click)="mandarinRoute()">國語堂</button>
  </div>
</div>
<div class="overlay footer">
  <div>
    232 South Beverwyck Road, Parsippany, NJ 07054
  </div>
  <div>
    973-335-0183
  </div>
</div>
<div class="video-container">
  <video playsinline autoplay muted loop="true" width="1280" height="720">
    <source type="video/mp4" src="../assets/video.mp4">
  </video>
</div>
<div class="background-overlay"></div>
