.header {
    position: fixed;
    top: 0;
    background-color: white;
    height: 66px;
    width: 100%;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
    gap: 25px;

    .header-image {
        // width:250px;
        height: 60px;
    }
    .header-container {
        width: 1100px;
        justify-content: space-between;
    }
    .navigation-menu {
        display: inline-block;
        // margin-left: 100px;
        // margin-right: 200px;
        ul {
            padding: 0;
            margin: 0;

            li {
                font-size: 14px;
                line-height: 1;
                font-weight: 600;
                letter-spacing: 0.5pt;
                text-transform: uppercase;
                display: inline-block;
                vertical-align: top;
                margin: 0 17px;

                a {
                    display: block;
                    color: black;
                    border-top: 3px solid transparent;
                    padding: 24px 0;
                    transition: all .25s ease;
                    text-decoration: none;

                    &:hover {
                        color: #d43c3c;
                        border-color: #aad43c;
                    }
                }
            }
        }
    }

    .user-controls {
        // margin-left:30px;
        padding-left: 100px;
        a {
            margin: 1em;
            color: black;

            span {
                font-size: 30px;
            }

            &:hover {
                color: #d43c3c;
                border-color: #aad43c;
            }
        }
    }
}

.video-background {
    position: relative;
    height: 100vh;
    overflow: hidden;
    .overlay{
        position:absolute;
        top:0;
    }
    .video {
        filter: brightness(40%);
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .video-preloader {
        z-index: 2;
        background-color: var(--very-dark);
        height:100%;
        width:100%;
        animation: fadeout 1.5s ease-out 1s forwards;
    }
    .content {
        z-index: 1;
        height:100%;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        h2 {
            color:white;
            margin-bottom: 40px;
            font-family: 'Poppins', sans-serif;
            font: 700 80px/80px 'Poppins';
            text-transform: uppercase;
        }
        .visit-us {
            color:white;
            margin-bottom: 40px;
            font: 700 28px/80px 'Poppins';
            text-transform: uppercase;
        }
        .welcome-container {
            opacity: 0;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 40, 0, 1);
        }
    }
    .arrow-overlay {
        width:100%;
        z-index: 1;
        position: absolute;
        bottom: 50px;
        .circle {
            cursor: pointer;
            height: 45px;
            width: 45px;
            background-color: #bbb;
            border-radius: 50%;
            span {
                font-size: 45px
            }
        }
        .bounce {
            animation: bounce 3s 2s;
        }
    }
    .slide-in {
        opacity: 1 !important;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) !important;
        transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 2s, transform 1s cubic-bezier(0.5, 0, 0, 1) 2s;
    }
}



.content1 {
    height: 100vh;
    overflow: hidden;
    background-color: aqua;
}

.run-animation {
    g.cccnj {
        & path {
            fill: #fff;
            stroke: black;
            stroke-width: .75px;
            stroke-dasharray: 250;
            stroke-dashoffset: 250;
            // fill: none;
            animation: dash-cccnj 1.5s linear 1s forwards,
                fill .75s ease-in 2s forwards;

            &.c1 {
                animation-delay: 1s, 2s;
            }

            &.c2 {
                animation-delay: 1.25s, 2s;
            }

            &.c3 {
                animation-delay: 1.5s, 2s;
            }

            &.n {
                animation-delay: 1.25s, 2s;
            }

            &.j {
                animation-delay: 1.25s, 2s;
            }
        }
    }

    path.logo {
        fill: #fff;
        stroke: black;
        stroke-width: .75px;
        stroke-dasharray: 550;
        stroke-dashoffset: 550;
        // fill: none;
        animation: dash-logo 1.5s linear 1s forwards,
            fill .75s ease-in 2s forwards;
    }

    g.long-cccnj path {
        fill: #fff;
        animation: fill .75s ease-in 2s forwards;
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes dash-cccnj {
    from {
        opacity: 15%;
        stroke-dashoffset: 250;
    }

    to {
        opacity: 80%;
        stroke-dashoffset: 0;
    }
}

@keyframes dash-logo {
    from {
        opacity: 15%;
        stroke-dashoffset: 550;
    }

    to {
        opacity: 80%;
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: white;
    }

    to {
        fill: black;
    }
}

@keyframes bounce {

  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes slidein {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
