
.event-container {
    padding-top: 25px;
    gap:16px;
    flex-wrap:wrap;
}
.video-background {
    position: relative;
    height: 100vh;
    overflow: hidden;
    .overlay{
        position:absolute;
        top:0;
    }
    .video {
        filter: brightness(40%);
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .video-preloader {
        z-index: 2;
        background-color: var(--very-dark);
        height:100%;
        width:100%;
        animation: fadeout 1.5s ease-out 1s forwards;
    }
    .content {
        z-index: 1;
        height:100%;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        .visit-us {
            color:white;
            margin-bottom: 40px;
            font: 700 28px/80px 'Poppins';
            text-transform: uppercase;
        }
        h2 {
            border-bottom: none;
        }
        .welcome-container {
            // opacity: 0;
            // transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 40, 0, 1);
        }
    }
    .visit-button {
        // width: 100px;
        background-color: #bbb;
        color: #555;
        width: 150px;
        // height: 15px;
        // display: inline-block;
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 17px 25px 16px;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2pt;
        box-shadow: rgba(0,0,0,.4) 0 10px 25px;
        text-decoration: none;
        transition: all .25s ease;
        &:hover {
            background-color: var(--accent-1-dark);
            color: white;
        }
    }
    .arrow-overlay {
        width:100%;
        z-index: 1;
        position: absolute;
        bottom: 50px;
        .circle {
            cursor: pointer;
            height: 45px;
            width: 45px;
            background-color: #bbb;
            border-radius: 50%;
            span {
                font-size: 45px;
                color: var(--accent-1-dark);
            }
        }
        .bounce {
            animation: bounce 3s 2s;
        }
    }
}



.content1 {
    height: 100vh;
    overflow: hidden;
    background-color: aqua;
}

.equal-flex-item {
    flex: 1 0 0;
}


.color-button {
    // width: 100px;
    background-color: var(--accent-1-dark);;
    color: white;
    width: 150px;
    // height: 15px;
    // display: inline-block;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 17px 25px 16px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2pt;
    box-shadow: rgba(0,0,0,.4) 0 10px 25px;
    text-decoration: none;
    transition: all .25s ease;
    &:hover {
        background-color: black;
        color: white;
    }
}