<footer>
  <div class="content flex-container center-main-axis-only">
    <div class="column-1 flex-container vertical">
      <h4 class="font accent-1">
        Sunday Service
      </h4>
      <div class="footer-content font white">
        <div class="grid two-column">
          <div>Mandarin</div>
          <div>9:45am - 11:15am</div>
          <div>English</div>
          <div>11:30am - 1:00pm</div>
          <div>Taiwanese</div>
          <div>11:30am - 1:00pm</div>
          <div>Children</div>
          <div>11:30am - 12:30pm</div>
        </div>
      </div>
      <h4 class="font accent-1">
        Sunday School
      </h4>
      <div class="footer-content font white">
        <div class="grid two-column">
          <div>Mandarin Adult</div>
          <div>11:30am - 12:30pm</div>
          <div>English Adult</div>
          <div>10:00am - 11:15am</div>
          <div>Taiwanese</div>
          <div>9:30am - 11:30am</div>
          <div>Youth</div>
          <div>10:00am - 11:15am</div>
          <div>Children</div>
          <div>9:45am - 11:15am</div>
        </div>
      </div>
      <h4 class="font accent-1">
        Prayer Meetings
      </h4>
      <div class="footer-content font white">
        <div class="grid two-column">
          <div>Wednesday (zoom)</div>
          <div>8:00pm - 9:30pm</div>
        </div>
      </div>
    </div>
    <div class="column-2 flex-container space-around">
      <div>
        <h4 class="font accent-1">
          Office Info
        </h4>
        <div class="footer-content font white">
          <div class="style-1">
            Address
          </div>
          <a href="https://goo.gl/maps/VZNMxs3irArfrJRYA">
            232 South Beverwyck Road <br />
            Parsippany, NJ 07054
          </a>
        </div>
        <div class="footer-content font white">
          <div class="style-1">
            Phone
          </div>
          973-335-0183
        </div>
        <div class="footer-content font white">
          <div class="style-1">
            Email
          </div>
          TBD
        </div>
      </div>
      <div class="flex-container align-center vertical">
        <h4 class="font accent-1">
          Give
        </h4>
        <img src="https://cn.cccnj.org/sites/default/files/pictures/cccnjgving.jpg" style="height:150px; width:auto">
      </div>


    </div>
    <div class="column-3 flex-container right-align">
      <div>
        <h4 class="font accent-1">
          Stay Connected
        </h4>
        <div style="padding-bottom:10px">
          <a href="https://www.cccnj.org/mailman/listinfo/regeneration_cccnj.org" class="style-1">
            reGeneration Email List
          </a>
        </div>
        <div style="padding-bottom:10px">
          <a href="https://www.cccnj.org/mailman/listinfo/youthparents_cccnj.org" class="style-1">
            Youth Parent Email List
          </a>
        </div>
        <div style="padding-bottom:10px">
          <a href="https://www.cccnj.org/mailman/listinfo/pray_cccnj.org" class="style-1">
            Prayer Letter
          </a>
        </div>
        <div class="flex-container">
          <a href="https://www.facebook.com/132522220484991" style="margin: 6px;">
            <i class="fa-brands fa-facebook-f font white icon"></i>
          </a>
          <a href="https://goo.gl/maps/VZNMxs3irArfrJRYA" style="margin: 6px;">
            <i class="fa-solid fa-location-dot font white icon"></i>
          </a>
          <a href="https://www.youtube.com/playlist?list=PLfbfI6bGIMk-1OloIxvqChtIO5sGz9BQQ" style="margin: 6px;">
            <i class="fa-brands fa-youtube font white icon"></i>
          </a>
          <!-- <a href="https://smile.amazon.com/ch/22-6082283" class="amazon-smile-filter">
              <img src="https://en.cccnj.org/sites/default/files/pictures/amazonsmilelogoW-01.png" style="height:auto; width:110px">
            </a> -->
        </div>
      </div>
    </div>
  </div>
</footer>
