/* You can add global styles to this file, and also import other style files */
// @import "./node_modules/bourbon/core/_bourbon.scss";
html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --very-dark: #252525;
  --white: #faf0e6;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-page {
  height: 100vh;
}

.flex-container {
  display: flex;
  &.horizontal {
    flex-direction: row;
  }
  &.vertical {
    flex-direction: column;
  }
  &.center {
    justify-content: center;
    align-items: center;
  }
}