/* You can add global styles to this file, and also import other style files */
// @import "./node_modules/bourbon/core/_bourbon.scss";
html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --very-dark: #252525;
  --white: #faf0e6;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-page {
  height: 100vh;
}

.flex-container {
  display: flex;
  &.horizontal {
    flex-direction: row;
  }
  &.vertical {
    flex-direction: column;
  }
  &.center {
    justify-content: center;
    align-items: center;
  }
}

@keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
      visibility: hidden;
  }
}
@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@keyframes dash-cccnj {
  from {
      opacity: 15%;
      stroke-dashoffset: 250;
  }

  to {
      opacity: 80%;
      stroke-dashoffset: 0;
  }
}

@keyframes dash-logo {
  from {
      opacity: 15%;
      stroke-dashoffset: 550;
  }

  to {
      opacity: 80%;
      stroke-dashoffset: 0;
  }
}

@keyframes fill-logo {
  from {
      fill: white;
  }

  to {
      fill: black;
  }
}

@keyframes bounce {

0%, 20%, 50%, 80%, 100% {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

40% {
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}

60% {
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}
}
@keyframes slidein {
  from {
      opacity: 0;
      transform: translateY(100px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
