<div class="header-padding" style="overflow-x:hidden">
    <section class="p-0 flex-container vertical">
        <div style="position:relative; width:100%">
            <div class="header-background visit"></div>
            <div class="w-100 flex-container center-all" style="position:fixed; top:0;">
                <div class="content">
                    <h2>Visit</h2>
                </div>
            </div>
        </div>
        <div class="content flex-container center-all p-5">
            <div>
                <h3 class="font black m-0">One Church.  &nbsp;</h3>
            </div>
            <div>
                <h3 class="font accent-1 m-0">Multiple Congregrations.</h3>
            </div>
        </div>
    </section>
    <section class="location-bg p-0">
        <div class="content p-0">
            <div class="content flex-container p-0" style="height:350px">
                <div class="flex-container center-all location-container right" style="flex: 1 1 0; position: relative">
                    <h2 class="m-0">Our Location</h2>
                </div>
                <div class="flex-container vertical" style="flex: 1 1 0">
                </div>
            </div>
            <div class="content flex-container p-0" style="height:350px">
                <div class="flex-container vertical" style="flex: 1 1 0">
                </div>
                <a href="https://goo.gl/maps/VZNMxs3irArfrJRYA" class="flex-container center-all location-container left" style="flex: 1 1 0; position: relative">
                    <h2 class="m-0" style="font-size: 40px !important">232 S Beverwyck Rd <br/> Parsippany NJ 07054</h2>
                </a>
            </div>
        </div>
    </section>
    <section class="expect-bg">
        <div class="content flex-container">
            <div class="" style="flex: 1 1 0">
                <div class="p-5">
                    <h3 class="font white">What to expect</h3>
                    <hr>
                    <p class="pt-3 font white">With multiple congregrations and a diverse age range in each, you will always find a group of individuals who you can connect with and relate to as well keep a close knit community that can grow together in Christ regardless of age!</p>
                </div>
            </div>
            <div style="flex: 1 1 0">
                <img src="https://firebasestorage.googleapis.com/v0/b/cccnjdb.appspot.com/o/content%2Fvisitus1.jpg?alt=media&token=1a27562c-319f-4c96-a354-ed827f37a170" style="height:auto; width:100%" class="image-frame">
            </div>
        </div>
    </section>
    <section class="groups-bg">
        <div class="content">
            <h3>Groups</h3>
            <div class="flex-container">
                <div class="group-tile">
                    
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>