
<div class="sticky nav-header">
    <div class="grid-container">
        <h1>CCCNJ ENGLISH MINISTRY</h1>
        <nav id="navigation">
            <ul id="menu-main">
                <li>
                    <a href="/" id="home">Home</a>
                </li>
                <li>
                    <a href="/en">About</a>
                </li>
                <li>
                    <a href="/en">Connect</a>
                </li>
                <li>
                    <a href="/en">Ministries</a>
                </li>
                <li>
                    <a href="/en">Sermons</a>
                </li>
                <li>
                    <a href="/en">Give</a>
                </li>
                <li>
                    <a href="/en">Resources</a>
                </li>
                <li>
                    <a href="/en">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</div>