*, *:after, *::before{
  box-sizing: border-box;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: hsla(0, 0, 0, 0.5);
  border-bottom: 1px #AAA solid;
  color: white;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.nav-header {
  line-height: 80px;
}

.grid-container {
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  float: left;
  padding-top: 24px;
}

#navigation {
  float: right;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

#navigation ul {
  position: relative;
  float: right;
  list-style: none;
  z-index: 999;
}

#navigation ul li {
  position: relative;
  display: block;
  float: left;
}

#navigation ul, #navigation ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation a, #navigation a:visited, #navigation a:hover {
  color: white;
}

#navigation ul li a {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  white-space: nowrap;
  padding-left: 25px;
  position: relative;
  text-decoration: none;
  display: block;
}

#navigation ul li a:after{
  content: "\2022";
  position: absolute;
  top: 0;
  left: 9px;
}

#home:after{
  visibility: hidden;
}
