
<div class="sticky nav-header">
    <div class="grid-container">
        <h1>CCCNJ ENGLISH MINISTRY</h1>
        <nav id="navigation">
            <ul id="menu-main">
                <li>
                    <a href="/en">HOME</a>
                </li>
                <li>
                    <a href="/en">ABOUT</a>
                </li>
                <li>
                    <a href="/en">SERVICE</a>
                </li>
                <li>
                    <a href="/en">GIVE</a>
                </li>
                <li>
                    <a href="/en">CONTACT</a>
                </li>
            </ul>
        </nav>
    </div>
</div>